.desccontainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desccontainer h1{
    margin-bottom: 10rem;
    background-color: var(--teal);
    color: var(--white);
    position: relative;
    left: 5vw;
    margin-right: 22vw;
}

.containerBody{
    display: flex;
}

.descleft{
    flex: 1;
}

.descleft h3{
    width: 35vw;
    margin-left: 8rem;
    position: relative;
    bottom: 4rem;
}

.detailTable{
    width: 35vw;
    margin-left: 8rem;
}

.descright{
    flex: 1;
}

.descdataSheet{
    background-color: rgb(221, 225, 229);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 8rem;
    width: 10rem;
    margin-left: 35rem;
    margin-bottom: 4rem;
    position: relative;
    right: 30rem;
}

.descdataSheet img{
    height: 6rem;
    width: 6rem;
    padding: 1rem;
}

.desccontainer Button{
    background-color: var(--teal);
    color: var(--white);
}

@media (max-width: 635px) {
    .desccontainer{
        position: relative;
        top: 5rem;
        left: 6rem;
    }
    .desccontainer h1{
        position: relative;
        left: 4rem;
    }
  }
@media (max-width: 335px) {
    .desccontainer{
        position: relative;
        top: 7rem;
        left: 6rem;
    }

   
  }

