.menu{
    position: absolute;
    height: 100%;
    background-color: var(--teal);
    z-index: 1;
    width: 20%;
}

.menu img{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: var(--white);
}

@media (max-width: 570px) {
    .menu{
        position: absolute;
        height: 100%;
        background-color: var(--teal);
        z-index: 1;
        width: 50%;
    }
  }