form{
    height: 5vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 35vw;
    margin-top: 2rem;
    gap: 2rem;
}

form input{
    height: 4vh;
    width: 25vw;
    padding: 5px;
}

form button{
    border: none;
}

form button:hover{
    cursor: pointer;
}