.sidebar{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2rem;
    border: solid rgb(255, 249, 249)
}
.padding-2{
margin-left: 10vw;
}

.padding-1{
    margin-left: 5vw;
}
.btn{
    background-color:#015e5e;
    color: white;
    height: 3.9vh;
    width: 22vw;
    font-size: larger;
}
.btn:hover{
    background-color:#015e5e;
}
.material-type{
    display: grid;
    /* align-self: center; */
    height:4.7vh;
    width: 22vw;
    color:white;
    font-size: 2vh;
    padding-left: 2vw;
    padding-top: 1.2vh;
    
    background-color: #008080   ;
}
.mtchecck-box{
    margin-left:1.3vw ;
    font-size:xx-large;
}
.mtchecck-box label{
    margin-left:2vw ;
    font-size:large;
    font-weight: 500;
}

.sidebar div{
    display: flex;
    flex-direction: column;
}


.sidebar div *{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
}