.sidebar{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 2rem;
}

.sidebar div{
    display: flex;
    flex-direction: column;
}

.sidebar div *{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}