.imgOnLeft{
    padding: 0;
    margin: 0;
    /* left: 1.6rem; */
    position: relative;
}
.imgOnRight{
    padding: 0;
    margin: 0;
    left: 1.6rem;
    position: relative;
}

.toggle{
    display: flex;
    border: 3px solid var(--teal);
    margin: 0;
    padding: 0;
    width: 3.5rem;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
}