@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  --heading : 'Roboto', sans-serif;
  --para : 'Open Sans', sans-serif;
  --teal : #008080;
  --blue : #1F51FF;
  --white : #f6f6f6;
}

.search-body{
  display: flex;
  gap: 3rem;
}

.search-body :nth-child(1){
  flex: 1;
}

.search-body :nth-child(2){
  flex: 6;
}

strong{
  font-family: var(--heading);
  font-size: 1.5rem;
}

span{
  font-family: var(--para);
  font-size: 1.1rem;
}

a{
  text-decoration: none;
}